<div class="contact-container">
  <div class="icons-container">
    <div class="icon-element github-icon" (mouseover)="onMouseOverIcon('in', '.github-icon')" (mouseout)="onMouseOverIcon('out', '.github-icon')">
        <a href="https://github.com/GuillaumeMMM"><i class="fab fa-github fa-3x"></i></a>
    </div>

    <div class="icon-element linkedin-icon" (mouseover)="onMouseOverIcon('in', '.linkedin-icon')" (mouseout)="onMouseOverIcon('out', '.linkedin-icon')">
        <a href="https://www.linkedin.com/in/guillaume-meigniez/"><i class="fab fa-linkedin-in fa-3x"></i></a>
    </div>

    <div class="icon-element mail-icon" (mouseover)="onMouseOverIcon('in', '.mail-icon')" (mouseout)="onMouseOverIcon('out', '.mail-icon')">
        <a href="mailto:guillaume.meigniez@gmail.com"><i class="far fa-envelope fa-3x"></i></a>
      </div>
  </div>
</div>