<div class="sketch-container" [id]="'sketch-container-' + sketch.id" (mouseover)="onMouseAction('in')" (mouseout)="onMouseAction('out')">
  <div class="sketch-title">
    {{sketch.title}}
  </div>
  <div class="sketch-content" [id]="'sketch-content-' + sketch.id">
    <p class="sketch-details">{{sketch.description}}</p>
    <img class="sketch-image" [id]="'sketch-img-' + sketch.id" [src]="sketch.img">
  </div>
  <div class="sketch-tags">
    <div class="sketch-tag" *ngFor="let tag of sketch.tags"><a href="#">{{tag}}</a></div>
  </div>
</div>