<div class="shadow-navbar">
    <div class="shadow-title">
      Shadow navbar
      <div class="shadow-navbars-content">

        <div class="container-1" (mouseover)="animateNavbar1('in')" (mouseout)="animateNavbar1('out')">
          <div class="navbar-back"></div>
          <div class="navbar">
            <ul>
              <li><a href="/sketches/navigation">home</a></li>
              <li><a href="/sketches/navigation">activities</a></li>
              <li><a href="/sketches/navigation">timetable</a></li>
              <li><a href="/sketches/navigation">contact</a></li>
            </ul>
          </div>
        </div>

        <!-- <div class="container-2" (mouseover)="animateNavbar2('in')" (mouseout)="animateNavbar2('out')">
          <div class="navbar-back"></div>
          <div class="navbar">
            <ul>
              <li><a href="/sketches/navigation">home</a></li>
              <li><a href="/sketches/navigation">activities</a></li>
              <li><a href="/sketches/navigation">timetable</a></li>
              <li><a href="/sketches/navigation">contact</a></li>
            </ul>
          </div>
        </div> -->

        <div class="container-3" (mouseover)="animateNavbar3('in')" (mouseout)="animateNavbar3('out')">
          <div class="navbar-back"></div>
          <div class="navbar">
            <ul>
              <li><a href="/sketches/navigation">home</a></li>
              <li><a href="/sketches/navigation">activities</a></li>
              <li><a href="/sketches/navigation">timetable</a></li>
              <li><a href="/sketches/navigation">contact</a></li>
            </ul>
          </div>
        </div>

        <div class="container-4" (mouseover)="animateNavbar4('in')" (mouseout)="animateNavbar4('out')">
          <div class="navbar-back"></div>
          <div class="navbar">
            <ul>
              <li><a href="/sketches/navigation">home</a></li>
              <li><a href="/sketches/navigation">activities</a></li>
              <li><a href="/sketches/navigation">timetable</a></li>
              <li><a href="/sketches/navigation">contact</a></li>
            </ul>
          </div>
        </div>

        <!-- <div class="container-5" (mouseover)="animateNavbar5('in')" (mouseout)="animateNavbar5('out')">
          <div class="navbar-back"></div>
          <div class="navbar">
            <ul>
              <li><a href="/sketches/navigation">home</a></li>
              <li><a href="/sketches/navigation">activities</a></li>
              <li><a href="/sketches/navigation">timetable</a></li>
              <li><a href="/sketches/navigation">contact</a></li>
            </ul>
          </div>
        </div> -->

        <div class="container-6" (mouseover)="animateNavbar6('in')" (mouseout)="animateNavbar6('out')">
          <div class="navbar-back"></div>
          <div class="navbar-back-2"></div>
          <div class="navbar">
            <ul>
              <li><a href="/sketches/navigation">home</a></li>
              <li><a href="/sketches/navigation">activities</a></li>
              <li><a href="/sketches/navigation">timetable</a></li>
              <li><a href="/sketches/navigation">contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>